<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.eco.board.model.dao.BoardMapper">

    <resultMap id="boardResultMap" type="BoardDTO">
        <id     property="boardNo"        column="BOARD_NO"/>
        <result property="boardTitle"     column="BOARD_TITLE"/>
        <result property="boardCategory"  column="BOARD_CATEGORY"/>
        <result property="boardContent"   column="BOARD_CONTENT"/>
        <result property="regDate"        column="REG_DATE"/>
        <result property="viewCount"      column="VIEW_COUNT"/>
        <result property="memberName"     column="MEMBER_NAME"/>
        <result property="likeCount"      column="LIKE_COUNT"/>
        <result property="attachmentPath" column="ATTACHMENT_PATH"/>
        <result property="boardWriter"    column="BOARD_WRITER"/>
    </resultMap>

    <resultMap id="boardDetailResultMap" type="com.kh.eco.board.model.dto.BoardDetailDTO" extends="boardResultMap">
        <collection property="commentList" ofType="com.kh.eco.comment.model.dto.CommentDTO">
            <id     property="commentNo"      column="COMMENT_NO"/>
            <result property="commentContent" column="COMMENT_CONTENT"/>
            <result property="regDate"        column="COMMENT_DATE"/>
            <result property="memberName"     column="COMMENT_WRITER"/>
        </collection>
    </resultMap>

    <sql id="searchCondition">
        WHERE B.STATUS = 'Y'
        
        <choose>
            <when test='type == "A"'> 
                AND B.BOARD_CATEGORY LIKE 'A%' 
            </when>
            <when test='type == "B"'> 
                AND B.BOARD_CATEGORY LIKE 'B%' 
            </when>
            <otherwise> 
                AND (B.BOARD_CATEGORY LIKE 'A%' OR B.BOARD_CATEGORY LIKE 'B%') 
            </otherwise>
        </choose>

        <if test="category != null and category != '' and category != 'ALL'">
            AND B.BOARD_CATEGORY = #{category}
        </if>

        <if test="keyword != null and keyword != ''">
            AND B.BOARD_TITLE LIKE '%' || #{keyword} || '%'
        </if>
    </sql>


    <select id="selectListCount" resultType="_int">
        SELECT COUNT(*) 
          FROM TB_BOARD B 
        <include refid="searchCondition"/>
    </select>

    <select id="selectBoardList" resultMap="boardResultMap">
        SELECT * FROM (
            SELECT ROWNUM AS RNUM, Main.* FROM (
                SELECT
                        B.BOARD_NO
                      , B.BOARD_TITLE
                      , B.BOARD_CATEGORY
                      , B.REG_DATE
                      , B.VIEW_COUNT
                      , M.MEMBER_NAME
                      , M.MEMBER_ID AS BOARD_WRITER
                      , NVL(LC.LIKE_COUNT, 0) AS LIKE_COUNT
                      , A.ATTACHMENT_PATH
                  FROM TB_BOARD B
                  JOIN TB_MEMBER M ON M.MEMBER_NO = B.REF_MNO
                  LEFT JOIN (
                              SELECT REF_BNO, MIN(ATTACHMENT_PATH) AS ATTACHMENT_PATH
                                FROM TB_ATTACHMENT
                               WHERE STATUS='Y'
                               GROUP BY REF_BNO
                            ) A ON A.REF_BNO = B.BOARD_NO
                  LEFT JOIN (
                              SELECT REF_BNO, COUNT(*) AS LIKE_COUNT
                                FROM TB_BOARD_LIKE
                               GROUP BY REF_BNO
                            ) LC ON LC.REF_BNO = B.BOARD_NO
                <include refid="searchCondition"/>
                 ORDER BY B.REG_DATE DESC
              ) Main
        )
        WHERE RNUM BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="selectTopBoardList" resultMap="boardResultMap">
        SELECT * FROM (
            SELECT
                   B.BOARD_NO
                 , B.BOARD_TITLE
                 , B.BOARD_CATEGORY
                 , B.REG_DATE
                 , B.VIEW_COUNT
                 , M.MEMBER_NAME
                 , M.MEMBER_ID AS BOARD_WRITER
                 , NVL(LC.LIKE_COUNT, 0) AS LIKE_COUNT
                 , A.ATTACHMENT_PATH
              FROM TB_BOARD B
              JOIN TB_MEMBER M ON M.MEMBER_NO = B.REF_MNO
              LEFT JOIN (
                          SELECT REF_BNO, MIN(ATTACHMENT_PATH) AS ATTACHMENT_PATH
                            FROM TB_ATTACHMENT
                           WHERE STATUS='Y'
                           GROUP BY REF_BNO
                        ) A ON A.REF_BNO = B.BOARD_NO
              LEFT JOIN (
                          SELECT REF_BNO, COUNT(*) AS LIKE_COUNT
                            FROM TB_BOARD_LIKE
                           GROUP BY REF_BNO
                        ) LC ON LC.REF_BNO = B.BOARD_NO
            <include refid="searchCondition"/>
             ORDER BY B.VIEW_COUNT DESC, B.REG_DATE DESC
        )
        <![CDATA[ WHERE ROWNUM <= 3 ]]>
    </select>

    <select id="selectBoardDetail" resultMap="boardDetailResultMap">
        SELECT
               B.BOARD_NO
             , B.BOARD_TITLE
             , B.BOARD_CATEGORY
             , B.BOARD_CONTENT
             , B.REG_DATE
             , B.VIEW_COUNT
             , M.MEMBER_NAME
             , M.MEMBER_ID AS BOARD_WRITER
             , NVL(LC.LIKE_COUNT, 0) AS LIKE_COUNT
             , A.ATTACHMENT_PATH
             , C.COMMENT_NO
             , C.COMMENT_CONTENT
             , C.REG_DATE AS COMMENT_DATE
             , CM.MEMBER_NAME AS COMMENT_WRITER
          FROM TB_BOARD B
          JOIN TB_MEMBER M ON M.MEMBER_NO = B.REF_MNO
          LEFT JOIN TB_ATTACHMENT A ON A.REF_BNO = B.BOARD_NO AND A.STATUS = 'Y'
          LEFT JOIN TB_COMMENT C ON C.REF_BNO = B.BOARD_NO AND C.STATUS = 'Y'
          LEFT JOIN TB_MEMBER CM ON CM.MEMBER_NO = C.REF_MNO
          LEFT JOIN (
                      SELECT REF_BNO, COUNT(*) AS LIKE_COUNT
                        FROM TB_BOARD_LIKE
                       GROUP BY REF_BNO
                    ) LC ON LC.REF_BNO = B.BOARD_NO
         WHERE B.BOARD_NO = #{boardNo}
           AND B.STATUS = 'Y'
         ORDER BY C.REG_DATE ASC
    </select>
    
    <select id="selectBoardOne" resultType="BoardDTO">
        SELECT BOARD_NO AS boardNo
             , BOARD_TITLE AS boardTitle
             , STATUS 
          FROM TB_BOARD 
         WHERE BOARD_NO = #{boardNo} 
           AND STATUS = 'Y'
    </select>


    <insert id="insertBoard" parameterType="BoardDTO">
        <selectKey keyProperty="boardNo" resultType="long" order="BEFORE">
            SELECT SEQ_BNO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TB_BOARD (
              BOARD_NO
            , REF_MNO
            , BOARD_CATEGORY
            , BOARD_TITLE
            , BOARD_CONTENT
            , REG_DATE
            , STATUS
            , VIEW_COUNT
        ) VALUES (
              #{boardNo}
            , (SELECT MEMBER_NO FROM TB_MEMBER WHERE MEMBER_ID = #{boardWriter})
            , #{boardCategory}
            , #{boardTitle}
            , #{boardContent}
            , SYSDATE
            , 'Y'
            , 0
        )
    </insert>

    <insert id="insertAttachment" parameterType="map">
        INSERT INTO TB_ATTACHMENT (
              FILE_NO
            , REF_BNO
            , ORIGINAL_FILE_NAME
            , MODIFIED_FILE_NAME
            , ATTACHMENT_PATH
            , REG_DATE
            , STATUS
        ) VALUES (
              SEQ_FNO.NEXTVAL
            , #{refBno}
            , #{originName}
            , #{changeName}
            , #{attachmentPath}
            , SYSDATE
            , 'Y'
        )
    </insert>
    
    <insert id="boardReport" parameterType="BoardReportDTO">
        INSERT INTO TB_BOARD_REPORT (
              BOARD_REPORT_NO
            , REF_BNO
            , REF_RCNO
            , REPORT_CONTENT
            , REG_DATE
            , STATUS
        ) VALUES (
              SEQ_BRNO.NEXTVAL
            , #{refBno}
            , #{refRcno}
            , #{reportContent}
            , SYSDATE
            , DEFAULT
        )
    </insert>


    <update id="increaseViewCount">
        UPDATE TB_BOARD 
           SET VIEW_COUNT = VIEW_COUNT + 1 
         WHERE BOARD_NO = #{boardNo} 
           AND STATUS = 'Y'
    </update>

    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE TB_BOARD 
           SET BOARD_TITLE    = #{boardTitle}
             , BOARD_CONTENT  = #{boardContent}
             , BOARD_CATEGORY = #{boardCategory}
         WHERE BOARD_NO = #{boardNo} 
           AND REF_MNO = (SELECT MEMBER_NO FROM TB_MEMBER WHERE MEMBER_ID = #{boardWriter})
    </update>

    <update id="updateAttachment" parameterType="map">
        UPDATE TB_ATTACHMENT 
           SET ATTACHMENT_PATH    = #{attachmentPath}
             , ORIGINAL_FILE_NAME = #{originName}
             , MODIFIED_FILE_NAME = #{changeName}
             , REG_DATE           = SYSDATE                
         WHERE REF_BNO = #{refBno} 
           AND STATUS = 'Y'
    </update>


    <update id="deleteBoard" parameterType="map">
        UPDATE TB_BOARD 
           SET STATUS = 'N' 
         WHERE BOARD_NO = #{boardNo} 
           AND REF_MNO = (SELECT MEMBER_NO FROM TB_MEMBER WHERE MEMBER_ID = #{userId})
    </update>


    <select id="selectFeedList" resultType="com.kh.eco.board.model.dto.FeedBoardDTO">
        SELECT * FROM (
            SELECT 
                   B.BOARD_NO       AS boardNo
                 , B.BOARD_TITLE    AS boardTitle
                 , B.BOARD_CONTENT  AS boardContent
                 , B.BOARD_CATEGORY AS boardCategory
                 , C.CATEGORY_NAME  AS categoryName
                 , B.REF_MNO        AS boardAuthor
                 , M.MEMBER_ID      AS memberId
                 , M.MEMBER_IMAGE   AS memberImage
                 , A.ATTACHMENT_PATH AS attachmentPath
                 , R.REGION_NO      AS regionNo
                 , R.REGION_NAME    AS regionName
                 , B.REG_DATE       AS regDate
                 , ROW_NUMBER() OVER (ORDER BY B.BOARD_NO DESC) AS RN
              FROM TB_BOARD B
              JOIN TB_MEMBER M      ON B.REF_MNO = M.MEMBER_NO
              JOIN TB_CATEGORY C    ON B.BOARD_CATEGORY = C.CATEGORY_NO
              LEFT JOIN TB_REGION R ON M.REF_RNO = R.REGION_NO
              LEFT JOIN (
                          SELECT REF_BNO, MIN(ATTACHMENT_PATH) AS ATTACHMENT_PATH 
                            FROM TB_ATTACHMENT 
                           WHERE STATUS = 'Y' 
                           GROUP BY REF_BNO
                        ) A ON A.REF_BNO = B.BOARD_NO
             WHERE B.STATUS = 'Y' 
               AND B.BOARD_CATEGORY LIKE #{category}
            <if test="fetchOffset != null"> 
               AND B.BOARD_NO &lt; #{fetchOffset} 
            </if>
        ) 
        <![CDATA[ WHERE RN <= #{limit} ]]>
    </select>
    
    <insert id="saveFeed" parameterType="com.kh.eco.board.model.dto.FeedBoardDTO">
        INSERT INTO TB_BOARD (
              BOARD_NO
            , REF_MNO
            , BOARD_CATEGORY
            , BOARD_TITLE
            , BOARD_CONTENT
            , REG_DATE
            , STATUS
        ) VALUES (
              SEQ_BNO.NEXTVAL
            , #{boardAuthor}
            , #{boardCategory}
            , #{boardTitle}
            , #{boardContent}
            , SYSDATE
            , 'Y'
        )
    </insert>

    <insert id="saveAttachment" parameterType="com.kh.eco.board.model.dto.FeedBoardDTO">
        INSERT INTO TB_ATTACHMENT (
              FILE_NO
            , REF_BNO
            , ATTACHMENT_PATH
            , REG_DATE
            , STATUS
        ) VALUES (
              SEQ_FNO.NEXTVAL
            , #{boardNo}
            , #{file}
            , SYSDATE
            , 'Y'
        )
    </insert>

    <select id="todayParticipants" resultType="int">
        SELECT COUNT(*) 
          FROM TB_BOARD 
         WHERE STATUS = 'Y' 
           AND BOARD_CATEGORY = #{category} 
           AND TRUNC(REG_DATE) = TRUNC(SYSDATE)
    </select>
    
    <select id="todayPost" resultType="int">
        SELECT COUNT(*) 
          FROM TB_BOARD 
         WHERE STATUS = 'Y' 
           AND BOARD_CATEGORY LIKE #{category} 
           AND TRUNC(REG_DATE) = TRUNC(SYSDATE)
    </select>
    
    <select id="getBoardCountForParticipation" resultType="_long">
        SELECT COUNT(*) 
          FROM TB_BOARD 
         WHERE BOARD_CATEGORY = 'C2'
    </select>

</mapper>