<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.eco.token.model.dao.TokenMapper">
	
	<insert id="saveToken" parameterType="RefreshToken">
		INSERT
		  INTO
		       TB_TOKEN
		VALUES
		       (
		       SEQ_TNO.NEXTVAL
		     , #{username}
		     , #{token}
		     , DEFAULT
		     , #{expiration}
		       )
	</insert>
	
	<delete id="deleteToken" parameterType="string">
		DELETE
		  FROM
		       TB_TOKEN
		 WHERE
		       MEMBER_ID = #{memberId}
	</delete>
	
	<delete id="deleteTokenForLogout" parameterType="MemberLogoutDTO" >
		DELETE
		  FROM
		       TB_TOKEN
		 WHERE
		       MEMBER_ID = #{memberId}
		   AND
		       TOKEN = #{refreshToken}
	</delete>
	
	<select id="findByToken" parameterType="string" resultType="RefreshToken">
		SELECT
		       TOKEN
		     , MEMBER_ID username
		     , EXPIRATION
		  FROM
		       TB_TOKEN
		 WHERE
		       TOKEN = #{refreshToken}
	</select>
	
</mapper>